{% extends "desafio/layout.html" %}
{% block body %}

<div class="container-fluid text-center">
    <div class="row align-items-center">
        <div class="col-4">
            <h2>Login</h2>

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="form-group">
                        <input autofocus class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Senha">
                    </div>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Entrar">
                    <a class="btn btn-primary" href="{% url 'register' %}">Registrar</a>
                </div>
            </form>

            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}